*.class

# Package Files #
*.jar
*.war
*.ear
/affinity/target/apidocs/net/openhft/affinity/class-use/Affinity.html
/affinity/target/apidocs/net/openhft/affinity/Affinity.html
/affinity/target/classes/win32-x86-64/affinityInfo.dll
/affinity/target/test-classes/affinityInfo.dll
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinityLock.html
/affinity/target/apidocs/net/openhft/affinity/AffinityLock.html
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinityManager.html
/affinity/target/apidocs/net/openhft/affinity/AffinityManager.html
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinityStrategies.html
/affinity/target/apidocs/net/openhft/affinity/AffinityStrategies.html
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinityStrategy.html
/affinity/target/apidocs/net/openhft/affinity/AffinityStrategy.html
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinitySupport.html
/affinity/target/apidocs/net/openhft/affinity/AffinitySupport.html
/affinity/target/apidocs/net/openhft/affinity/class-use/AffinityThreadFactory.html
/affinity/target/apidocs/net/openhft/affinity/AffinityThreadFactory.html
/affinity/target/apidocs/allclasses-frame.html
/affinity/target/apidocs/allclasses-noframe.html
/affinity/target/test-classes/amd64.dual.core.cpuinfo
/affinity/target/test-classes/amd64.quad.core.cpuinfo
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/Cache.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/Cache.html
/affinity/target/apidocs/net/openhft/affinity/class-use/CacheCpuLayout.CacheType.html
/affinity/target/apidocs/net/openhft/affinity/CacheCpuLayout.CacheType.html
/affinity/target/apidocs/net/openhft/affinity/class-use/CacheCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/CacheCpuLayout.html
/affinity/target/apidocs/constant-values.html
/affinity/target/test-classes/core.duo.cpuinfo
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/Core.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/Core.html
/affinity/target/apidocs/net/openhft/affinity/class-use/CpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/CpuLayout.html
/affinity/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/affinity/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/affinity/target/classes/META-INF/maven/dependencies.properties
/affinity/target/apidocs/deprecated-list.html
/affinity/target/test-classes/dual.E5405.cpuinfo
/affinity/target/test-classes/dual.xeon.cpuinfo
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/Group.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/Group.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/GroupAffinityMask.html
/affinity/target/apidocs/net/openhft/affinity/impl/GroupAffinityMask.html
/affinity/target/apidocs/net/openhft/affinity/class-use/GroupedCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/GroupedCpuLayout.html
/affinity/target/apidocs/help-doc.html
/affinity/target/test-classes/i3.cpuinfo
/affinity/target/test-classes/i7.cpuinfo
/affinity/target/test-classes/i7.properties
/affinity/target/apidocs/net/openhft/affinity/class-use/IAffinity.html
/affinity/target/apidocs/net/openhft/affinity/IAffinity.html
/affinity/target/apidocs/net/openhft/affinity/class-use/ICpuInfo.html
/affinity/target/apidocs/net/openhft/affinity/ICpuInfo.html
/affinity/target/apidocs/net/openhft/affinity/class-use/IDefaultLayoutAffinity.html
/affinity/target/apidocs/net/openhft/affinity/IDefaultLayoutAffinity.html
/affinity/target/apidocs/net/openhft/affinity/class-use/IGroupAffinity.html
/affinity/target/apidocs/net/openhft/affinity/IGroupAffinity.html
/affinity/target/apidocs/net/openhft/affinity/class-use/IGroupCpuInfo.html
/affinity/target/apidocs/net/openhft/affinity/IGroupCpuInfo.html
/affinity/target/apidocs/index.html
/affinity/target/apidocs/index-all.html
/affinity/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/affinity/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/affinity/target/apidocs/net/openhft/affinity/class-use/INumaCpuInfo.html
/affinity/target/apidocs/net/openhft/affinity/INumaCpuInfo.html
/affinity/target/apidocs/net/openhft/ticker/class-use/ITicker.html
/affinity/target/apidocs/net/openhft/ticker/ITicker.html
/affinity/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/affinity/target/apidocs/net/openhft/ticker/impl/class-use/JNIClock.html
/affinity/target/apidocs/net/openhft/ticker/impl/JNIClock.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/LayoutEntity.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/LayoutEntity.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/LinuxHelper.cpu_set_t.html
/affinity/target/apidocs/net/openhft/affinity/impl/LinuxHelper.cpu_set_t.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/LinuxHelper.html
/affinity/target/apidocs/net/openhft/affinity/impl/LinuxHelper.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/LinuxHelper.utsname.html
/affinity/target/apidocs/net/openhft/affinity/impl/LinuxHelper.utsname.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/LinuxJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/LinuxJNAAffinity.html
/affinity/target/classes/META-INF/MANIFEST.MF
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/class-use/NativeAffinity.html
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/NativeAffinity.html
/affinity/target/surefire-reports/net.openhft.affinity.AffinityLockTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.AffinityManagerTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.impl.LinuxJNAAffinityTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.impl.NativeAffinityImpTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.impl.PosixJNAAffinityTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.impl.VanillaCpuLayoutTest.txt
/affinity/target/surefire-reports/net.openhft.affinity.impl.WindowsJNAAffinityTest.txt
/affinity/target/surefire-reports/net.openhft.ticker.impl.JNIClockTest.txt
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/NoCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/NoCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/class-use/NonForkingAffinityLock.html
/affinity/target/apidocs/net/openhft/affinity/NonForkingAffinityLock.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/NullAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/NullAffinity.html
/affinity/target/apidocs/net/openhft/affinity/class-use/NumaCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/NumaCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/NumaNode.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/NumaNode.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/OSXJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/OSXJNAAffinity.html
/affinity/target/apidocs/overview-frame.html
/affinity/target/apidocs/overview-summary.html
/affinity/target/apidocs/overview-tree.html
/affinity/target/apidocs/java/lang/package-frame.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/package-frame.html
/affinity/target/apidocs/net/openhft/affinity/impl/package-frame.html
/affinity/target/apidocs/net/openhft/affinity/package-frame.html
/affinity/target/apidocs/net/openhft/ticker/impl/package-frame.html
/affinity/target/apidocs/net/openhft/ticker/package-frame.html
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/package-frame.html
/affinity/target/apidocs/package-list
/affinity/target/javadoc-bundle-options/package-list
/affinity/target/apidocs/java/lang/package-summary.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/package-summary.html
/affinity/target/apidocs/net/openhft/affinity/impl/package-summary.html
/affinity/target/apidocs/net/openhft/affinity/package-summary.html
/affinity/target/apidocs/net/openhft/ticker/impl/package-summary.html
/affinity/target/apidocs/net/openhft/ticker/package-summary.html
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/package-summary.html
/affinity/target/apidocs/java/lang/package-tree.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/package-tree.html
/affinity/target/apidocs/net/openhft/affinity/impl/package-tree.html
/affinity/target/apidocs/net/openhft/affinity/package-tree.html
/affinity/target/apidocs/net/openhft/ticker/impl/package-tree.html
/affinity/target/apidocs/net/openhft/ticker/package-tree.html
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/package-tree.html
/affinity/target/apidocs/java/lang/package-use.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/package-use.html
/affinity/target/apidocs/net/openhft/affinity/impl/package-use.html
/affinity/target/apidocs/net/openhft/affinity/package-use.html
/affinity/target/apidocs/net/openhft/ticker/impl/package-use.html
/affinity/target/apidocs/net/openhft/ticker/package-use.html
/affinity/target/apidocs/software/chronicle/enterprise/internals/impl/package-use.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/PosixJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/PosixJNAAffinity.html
/affinity/target/test-classes/q6600.noht.cpuinfo
/affinity/target/test-classes/q6600.vm.cpuinfo
/affinity/target/apidocs/script.js
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/class-use/Socket.html
/affinity/target/apidocs/net/openhft/affinity/impl/LayoutEntities/Socket.html
/affinity/target/surefire-reports/software.chronicle.enterprise.internals.NativeAffinityTest.txt
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/SolarisJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/SolarisJNAAffinity.html
/affinity/target/apidocs/stylesheet.css
/affinity/target/apidocs/net/openhft/ticker/impl/class-use/SystemClock.html
/affinity/target/apidocs/net/openhft/ticker/impl/SystemClock.html
/affinity/target/surefire-reports/TEST-net.openhft.affinity.AffinityLockTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.AffinityManagerTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.impl.LinuxJNAAffinityTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.impl.NativeAffinityImpTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.impl.PosixJNAAffinityTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.impl.VanillaCpuLayoutTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.affinity.impl.WindowsJNAAffinityTest.xml
/affinity/target/surefire-reports/TEST-net.openhft.ticker.impl.JNIClockTest.xml
/affinity/target/surefire-reports/TEST-software.chronicle.enterprise.internals.NativeAffinityTest.xml
/affinity/target/apidocs/java/lang/class-use/ThreadLifecycleListener.html
/affinity/target/apidocs/java/lang/ThreadLifecycleListener.html
/affinity/target/apidocs/java/lang/class-use/ThreadTrackingGroup.html
/affinity/target/apidocs/java/lang/ThreadTrackingGroup.html
/affinity/target/apidocs/net/openhft/ticker/class-use/Ticker.html
/affinity/target/apidocs/net/openhft/ticker/Ticker.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/Utilities.html
/affinity/target/apidocs/net/openhft/affinity/impl/Utilities.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/VanillaCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/VanillaCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/VersionHelper.html
/affinity/target/apidocs/net/openhft/affinity/impl/VersionHelper.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsCpuLayout.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.CACHE_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.CACHE_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.CACHE_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.CACHE_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.GROUP_AFFINITY.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.GROUP_AFFINITY.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.GROUP_AFFINITY.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.GROUP_AFFINITY.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.GROUP_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.GROUP_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.GROUP_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.GROUP_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.NUMA_NODE_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.NUMA_NODE_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.NUMA_NODE_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.NUMA_NODE_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_GROUP_INFO.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_GROUP_INFO.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_GROUP_INFO.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_GROUP_INFO.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_NUMBER.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_NUMBER.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_NUMBER.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_NUMBER.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_RELATIONSHIP.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PROCESSOR_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PROCESSOR_RELATIONSHIP.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX_ARR.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX_ARR.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX_ARR.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.PSYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX_ARR.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX._U.ByValue.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX._U.ByValue.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX._U.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX._U.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.ByReference.html
/affinity/target/apidocs/net/openhft/affinity/impl/class-use/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.html
/affinity/target/apidocs/net/openhft/affinity/impl/WindowsJNAAffinity.SYSTEM_LOGICAL_PROCESSOR_INFORMATION_EX.html
